<html>
<head>
    <title>{{ page.title }} | D. Aguirre</title>
    <meta charset='UTF-8'>
    <meta content='width=device-width, initial-scale=1' name='viewport'/>

    <meta name='description' content='David Aguirre.'>
    <meta name='keywords' content='{{ page.keywords }}'>
    <meta name='author' content='David Aguirre'>

    <link href='/css/styles.css' rel='stylesheet'/>
    <link href='/css/trac.css' rel='stylesheet'/>
    <link href='/css/markdown.css' rel='stylesheet'/>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="/assets/img/favicon.png"/>

    {% include mathjax.html %}
</head>
<body>

        {% include nav.html %}
        <div class='content'>
            <div class='front-matter'>
                <div class='wrap blog'>
                <div class="post-label-onpage">
                        {{ page.keywords | upcase }}
                 </div>
                    <h1>{{ page.title }}</h1>
                    <h3>{{ page.subtitle }}</h3>
                    <div class='bylines'>
                        <div class='byline'>
                            <h3>Published</h3>
                            <p>{{ page.date |  date: '%d %B %Y' }}</p>
                    </div>
            </div>
            <div class='clear'></div>
    </div>
</div>
<div class='wrap article blog'>
        <div class="project-facts">
                <ul>
                <h3 class="article-sub">Project Facts</h3>
                        <li><span class="titles">Client:</span> {{ page.client }}</li>
                        <li><span class="titles">Project Type: </span> {{ page.type }}</li>
                        <li><span class="titles">Tools:</span> {{ page.tools }}</li>
                        <li><span class="titles">My Role:</span> {{ page.role }}</li>
                        <li><span class="titles">Collaborators:</span>
                        {% assign people = page.collaborators | split: "," %}
                        {% for person in people %}
                        {% assign person_display = person | split: "*" %}
                        {{ person_display[0] }}<i style="opacity: 0.6">{{ person_display[1] }}</i>{{ person_display[2]}}
                        {% endfor %}
                        </li>
                </ul>
        </div>
        {{ content }}
</div>
<div id='bibliography'>
        <div class='wrap'>
        </div>
</div>
</div>
</body>
</html>
