<html>
<head>
    <title>{{ page.title }} | D. Aguirre</title>
    <meta charset='UTF-8'>
    <meta content='width=device-width, initial-scale=1' name='viewport'/>

    <meta name='description' content='David Aguirre.'>
    <meta name='keywords' content='{{ page.keywords }}'>
    <meta name='author' content='David Aguirre'>


<!-- BOOTSTRAP -->
<!--     <link href='/css/bootstrap-theme.css' rel='stylesheet'/>
    <script type="text/javascript" src="/js/bootstrap.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
 -->

<!-- MD STYLES -->
    <link href='/css/styles.css' rel='stylesheet'/>
    <link href='/css/trac.css' rel='stylesheet'/>
    <link href='/css/markdown.css' rel='stylesheet'/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="/assets/img/favicon.png"/>
    <link href='/css/lightbox.css' rel='stylesheet'/>
    <link rel="apple-touch-icon" href="assets/img/favicon.png"/>

    {% include mathjax.html %}
</head>
<body>
        {% include nav.html %}
<div class='content'>
    <div class='front-matter' style= "text-align:center">
        <div class='wrap blog'>
                <div class="post-label-onpage">
                        {{ page.keywords | upcase }}
                </div>
                <br>
                <a href="{{ page.photo }}" data-lightbox="image-0">
                       <img src= "{{ page.photo }}" class="header-image"></a>
                       <h1 class="on-article-title">{{ page.title }}</h1>
                       <h3 class="on-article-subtitle">{{ page.subtitle }}</h3>
               </div>
               <div class='clear'></div>
       </div>
</div>

<!-- <div class="scrollspy">
<nav id="navbar-example2" class="navbar navbar-light bg-light px-3">
  <a class="navbar-brand" href="#">Content</a>
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link" href="#scrollspyHeading1">Project Facts</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#scrollspyHeading2">Second</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Dropdown</a>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#scrollspyHeading3">Third</a></li>
        <li><a class="dropdown-item" href="#scrollspyHeading4">Fourth</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#scrollspyHeading5">Fifth</a></li>
      </ul>
    </li>
  </ul>
</nav>
</div> -->

<div class='wrap article blog'>

<!-- <div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-offset="0" class="scrollspy-example" tabindex="0">
  <h4 id="scrollspyHeading1">First heading</h4>
  <p>...</p>
  <h4 id="scrollspyHeading2">Second heading</h4>
  <p>...</p>
  <h4 id="scrollspyHeading3">Third heading</h4>
  <p>...</p>
  <h4 id="scrollspyHeading4">Fourth heading</h4>
  <p>...</p>
  <h4 id="scrollspyHeading5">Fifth heading</h4>
  <p>...</p> -->
<!-- </div> -->
        <div class="project-facts" id="scrollspyHeading1">
                <ul>
                        <h3 class="article-sub project-facts-title">Project Facts</h3>
                        <li><span class="titles">Client: </span> {{ page.client }}</li>
                        <li><span class="titles">Timespan: </span> {{ page.year }}</li>
                        <li><span class="titles">Project Type: </span> {{ page.type }}</li>
                        <li><span class="titles">Tools: </span> {{ page.tools }}</li>
                        <li><span class="titles">My Role: </span> {{ page.role }}</li>
                </ul>
                <div style="width:100%; height: 3px; background-color:gainsboro;"> </div>
                <ul>
                        <li><span class="credits">Collaborators:</span>
                                {% assign people = page.collaborators | split: "," %}
                                {% for person in people %}
                                {% assign person_display = person | split: "*" %}
                                {{ person_display[0] }}<i style="opacity: 0.6">{{ person_display[1] }}</i>{{ person_display[2]}}
                        {% endfor %}</li>
                </ul>
                <div class="spacer"></div>
        </div>
        <br>
        {{ content }}
</div>
<div id='bibliography'>
        <div class='wrap'>
        </div>
</div>
</div>
<script src="/js/lightbox-plus-jquery.js"></script>
<script>
        lightbox.option({
            'disableScrolling':false,
            'maxHeight': 1000,
            'fitImagesInViewport': true,
            'showImageNumberLabel':false
    })
</script>

<!-- Process display -->
<script type="text/javascript">
const targetDiv = document.getElementById("process-content");
const btn = document.getElementById("toggle");
const showhide = document.getElementById("showhide");
btn.onclick = function () {
  if (targetDiv.style.display !== "none") {
    targetDiv.style.display = "none";
    document.getElementById("showhide").innerHTML = "Show";
  } else {
    targetDiv.style.display = "block";
        document.getElementById("showhide").innerHTML = "Hide";

  }
};
</script>
</body>
</html>
